body{
    background: gray;
}

.google{
    font-size: 30px;
    margin-left: 40px;

    margin-right: 100px;
}

.pasek{
    width: 400px;
    background: black;
    height: 30px;
    
}

.pasek ,.google{
       margin-top: 15px;
       float: left;
}

.czysto{
    clear: both;
}

.info, .graf, .video, .news{
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 40px;
    border: black 1pxl;
}